/*@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400,500;600;700;800;900&display=swap');*/
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Century;
    scroll-behavior: smooth;
}

/*body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #F1F4FD;
}*/
/*section srtyling*/

section{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*social icons styles*/

.icon{
    display: inline-block;
    list-style: none;
    background-color: transparent;
    padding: 0;
    margin: 0;
    list-style-type: none;
    overflow: hidden;
}

.icon i{
    width: 30px;
    margin: 0 10px;
    font-size: 22px;
    cursor: pointer;
    border-radius: 50%;
    box-shadow: 0 0 20px 0 #7f7f7f3d;
    color: #fff;
    margin-right: 55px;
    align-items: right;
    transition: .5s ease;
}

.icon i:hover{
    transform: scale(1.2);
    color: rgb(66, 66, 248);
}

.full-page
{
    height: 100vh;
	width: 100%;
	background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4));
	background-position: center;
	background-size: cover;
	position: absolute;
}

.navbar
{
    display: flex;
    align-items: center;
    padding: 20px;
    padding-left: 10px;
    padding-right: 30px;
    padding-top: 50px;
}
/* activelink style*/

nav
{
    flex: 1;
    /*text-align: left;*/
    float: left;
    width: 100%;
    position: fixed;
    /*top: 0;*/
    /*left: 0;*/
    padding: 20px 8%;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    font-size: 18px;
}

nav ul 
{
    display: inline-block;
    list-style: none;
    background-color: transparent;
    padding: 0;
    margin: 0;
    list-style-type: none;
    overflow: hidden;
}
nav ul li
{
    display: inline-block;
    margin-left: 40px;
    width: 120px;
    margin-left: 40px;
    padding: 10px;
}
nav ul li a
{
    text-decoration: none;
    font-size: 17px;
    color: white;
    font-family: Century;
    display: block;
    text-align: center;
    padding: 14px 1px;
}
nav ul li button
{
    font-size: 20px;
    color: white;
    outline: none;
    border: none;
    background: transparent;
    cursor: pointer;
    font-family: century;
}
nav ul li button:hover
{
    color: aqua;
}
nav ul li a:hover
{
    color: aqua;
}
a
{
    text-decoration: none;
    color: palevioletred;
    font-size: 28px;
}

/* block for login*/
#login-form
{
    display: none;
}
.form-box
{
    width:380px;
	height:480px;
	position:relative;
	margin:2% auto;
	background:rgba(0,0,0,0.3);
    backdrop-filter: blur(5px);
	padding:10px;
    overflow: hidden;
}
.button-box
{
	width:220px;
	margin:35px auto;
	position:relative;
	box-shadow: 0 0 20px 9px #4321131f;
	border-radius: 30px;
}
.toggle-btn
{
	padding:10px 30px;
	cursor:pointer;
	background:transparent;
	border:0;
	outline: none;
	position: relative;
}
#btn
{
	top: 0;
	left:0;
	position: absolute;
	width: 110px;
	height: 100%;
	background: #ea9c44;
	border-radius: 30px;
	transition: .5s;
}
.input-group-login
{
	top: 150px;
	position:absolute;
	width:280px;
	transition:.5s;
}
.input-group-register
{
    top: 120px;
	position:absolute;
	width:280px;
	transition:.5s;
}
.input-field
{
	width: 100%;
	padding:10px 0;
	margin:5px 0;
	border-left:0;
	border-top:0;
	border-right:0;
	border-bottom: 1px solid #ece9e9;
	outline:none;
	background: transparent;
}
.submit-btn
{
	width: 85%;
	padding: 10px 30px;
	cursor: pointer;
	display: block;
	margin: auto;
	background: #F3C693;
	border: 0;
	outline: none;
	border-radius: 30px;
}
.check-box
{
	margin: 30px 10px 34px 0;
}
span
{
	color:#efeaea;
	font-size:14px;
	bottom:85px;
	position:absolute;
}
#login
{
	left:50px;
}
#login input
{
	color:white;
	font-size:15;
    font-family: century;
}
#register
{
	left:450px;
}
#register input
{
	color:white;
	font-size: 15;
}

/* active status on Home*/

.active, nav ul li:hover{
    border-radius: 0px;
    background: #404c80;
    color: #0ef;
    margin-top: 0;
}

.fa-angle-right{
    float:right;
}
nav .fa{
    margin-right: 8px;
}

/*content logo*/
.content .logo{
    font-size: 30px;
}

.back-video{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 0;
}

@media (min-aspect-ratio: 16/9){
    .back-video{
        width: 100%;
        height: auto;
    }
}

@media (max-aspect-ratio: 16/9){
    .back-video{
        width: auto;
        height: 100%;
    }
}