*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(appetizer-recipe/Shrimp\ Recipes.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

.wrapper{
    width: 420px;
    height: 600;
    /*background: transparent;*/
    /*border: 2px solid rgba(255, 255, 255, .2);*/
    /*backdrop-filter: blur(10px);*/
    color: #fff;
    border-radius: 12px;
    position: /*relative*/absolute;
    background-position: center;
    background-size: cover;
    padding: 30px 40px;
}

.form-box{
    width: 430px;
    height: 570px;
    position: relative;
    margin: 6% auto;
    border: 2px solid rgba(255, 255, 255, .2);
    padding: 5px;
    overflow: hidden;
    background: transparent;
    backdrop-filter: blur(10px);
    /*background: #7d4e4e;*/
}

/* input-group*/

.input-group{
    top: 130px;
    position: absolute;
    width: 280px;
    transition: .5s;
}

.input-field{
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
    position: relative;
    height: 60px;
    /*background: rgb(173, 224, 70);*/
    margin: 10px 0;
}

/*check-box*/

.check-box{
    margin: 30px 10px 30px 0;
    position: relative;
}

span{
    color: #777777;
    font-size: 14px;
    bottom: 80px;
    position: absolute;
}
.submit-btn{
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    border: 0;
    outline: none;
    border-radius: 30px;
    background: linear-gradient(to right, #103cff, #c506ff);
}


/*.wrapper h1{
    font-size: 36px;
    text-align: center;
    margin-top: 0;
}*/

.wrapper .input-field{
    position: relative;
    width: 100%;
    height: 60px;
    background: rgb(123, 123, 123);
    margin: 22px 0;
}
.input-group input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 16px;
    font-size: 16px;
    color: #fff;
    padding: 20px 45px 20px 20px;
}

.input-group input::placeholder{
    color: #fff;
}

.input-group i{
    position: absolute;
    right: 40px;
    transform: translate(-50%);
    font-size: 20px;
    top: 20px;
}

/*.wrapper .remember-forgot{
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 0 15px;
}

.remember-forgot label input{
    accent-color: #fff;
    margin-right: 3px;
}

.remember-forgot a{
    color: #fff;
    text-decoration: none;   
}

.remember-forgot a:hover{
    text-decoration: underline;
}*/

.wrapper #btn{
    width: 100%;
    height: 45px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
}

/*.wrapper .register-link{
    font-size: 14.5px;
    text-align: center;
    margin-top: 20px 0 15px;
}

.register-link p a{
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

.register-link p a:hover{
    text-decoration: underline;
}*/
.social-icons a{
    text-align: center;
    margin: 30px auto;
}
.social-icons a i{
    width: 25px;
    margin: 0 10px;
    font-size: 22px;
    cursor: pointer;
    border-radius: 50%;
    box-shadow: 0 0 20px 0 #7f7f7f3d;
    color: #e4e4e4;
    /*margin-right: 55px;*/
    align-items: center;
    transition: .5s ease;
}

.social-icons a:hover i{
    transform: scale(1.2);
    color: rgb(66, 66, 248);
}

.button-box{
    width: 220px;
    margin: 40px auto;
    position: relative;
    box-shadow: 0 0 20px 9px #ff61241f;
    border-radius: 30px;
}
.toggle-btn{
    padding: 10px 30px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
}

#btn1{
    top: 0;
    left: 0;
    position: absolute;
    width: 110px;
    height: 100%;
    background: linear-gradient(to right, #103cff, #c506ff);
    border-radius: 30px;
    transition: .5s;
}

#login{
    left: 50px;
}

#register{
    left: 450px;
}
