*{
    margin: 0px;
    padding: 0px;
    font-family: Century;
}

body {
    margin: 0px;
    padding: 0;
    background-image: url("appetizer-recipe/Paleo\ Tailgating\ Recipes.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: sans-serif;
    box-sizing: border-box;
}

.image{
    margin: 0px;
    padding: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: sans-serif;
    box-sizing: border-box;
}
main{
    margin-left: 10px;
    margin-right: 10px;
}
h1{
    text-align: center;
}

.navbar ul{
    background-color: transparent;
    padding: 0px;
    margin: 0px;
    list-style-type: none;
    /*z-index: 100;*/
    /*overflow: hidden;*/
}

.navbar ul li{
    width: 120px;
    margin: 10px;
    padding: 10px;
}
.navbar ul li a{
    text-decoration: none;
    color: #fff;

}

.sub-nav{
    display: none;
}

.active, .navbar ul li:hover{
    background: hsl(120, 61%, 14%);
    border-radius: 3px;
}

.navbar ul li:hover .sub-nav{
    display: block;
    position: absolute;
    background-color: transparent;
    margin-top: 15px;
    margin-left: -15px;
}
.navbar ul li:hover .sub-nav ul{
    display: block;
    margin: 10px;
}
.navbar ul li:hover .sub-nav ul li{
    width: 100px;
    padding: 10px;
    border-bottom: 1px dotted #fff;
    background: transparent;
    border-radius: 0;
    text-align: left;
}
.navbar ul li:hover .sub-nav ul li:last-child{
    border-bottom: none;
}
.navbar ul li:hover .sub-nav ul li a:hover{
    color: #00ff8c;
}

.fa-angle-right{
    float:right;
}
.navbar .fa{
    margin-right: 8px;
}
.navbar a{
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
    font-size: 16px;
}

.navbar a::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -6%;
    width: 100%;
    height: 2px;
    background: #e4e4e4;
    border-radius: 5px;
    transform: translate(10px);
    opacity: 0;
    transition: .5s;
}
.navbar a:hover{
    background-color: hsl(0, 1%, 15%);
}

.navbar a:hover::after{
    transform: translate(0);
    opacity: 1;
}
.navbar li{
    float: left;
}
.sub-nav{
    display: none;
}

.hover-me:hover .sub-nav-2{
    position: absolute;
    display: block;
    margin-top: -40px;
    margin-left: 140px;
    background: rgba(0,100,0);
}

.content .logo{
    font-size: 30px;
}

.text-sci h2{
    font-size: 40px;
    line-height: 1;
}

.text-sci p{
    font-size: 16px;
    margin: 20px 0;
}
.content h2 span{
    font-size: 25px;
}

.container .logreg-box{
    width: calc(100% - 58%);
    height: 100%;
    top: 0;
    right: 0;
    position: absolute;
}

.social-icons a i{
    font-size: 22px;
    color: #e4e4e4;
    margin-right: 10px;
    transition: .5s ease;
}

.social-icons a:hover i{
    transform: scale(1.2);
}

.main{
    max-width: 1200px;
    margin: auto;
}

.title{
    position: absolute;
    top: 40%;
    left: 32%;
    transform: translate(-50% -50%);
}

.title h1{
    color: #e4e4e4;
    font-size: 50px;
}

.button{
    position: absolute;
    top: 55%;
    left: 30%;
    transform: translate(-50% -50%);
}

.btn{
    border: 1px solid #fff;
    padding: 5px 20px;
    color: #fff;
    transition: 0.5 ease;
    font-size: 18px;
    text-decoration: none;
}

.btn:hover{
    background-color: #fff;
    color: #000;
}