body {
    /*background: #020202;*/
    margin: 0px;
    padding: 0;
    background-image: url("image-back/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: sans-serif;
    box-sizing: border-box;

}
/*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}*/
.image{
    margin: 0px;
    padding: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: sans-serif;
    box-sizing: border-box;
}
main{
    margin-left: 10px;
    margin-right: 10px;
}
h1{
    text-align: center;
}

.navbar ul{
    background-color: hwb(160 2% 64%);
    padding: 0px;
    margin: 0px;
    list-style-type: none;
    z-index: 100;
    overflow: hidden;
}

.navbar ul li{
    width: 120px;
    margin: 10px;
    padding: 10px;
}
.navbar ul li a{
    text-decoration: none;
    color: #fff;

}

.sub-nav-1{
    display: none;
}

.active, .navbar ul li:hover{
    background: hsl(120, 61%, 14%);
    border-radius: 3px;
}

.navbar ul li:hover .sub-nav-1{
    display: block;
    position: absolute;
    background-color: rgb(0,100,0);
    margin-top: 15px;
    margin-left: -15px;
}
.navbar ul li:hover .sub-nav-1 ul{
    display: block;
    margin: 10px;
}
.navbar ul li:hover .sub-nav-1 ul li{
    width: 150px;
    padding: 10px;
    border-bottom: 1px dotted #fff;
    background: transparent;
    border-radius: 0;
    text-align: left;
}
.navbar ul li:hover .sub-nav-1 ul li:last-child{
    border-bottom: none;
}
.navbar ul li:hover .sub-nav-1 ul li a:hover{
    color: #00ff8c;
}

.fa-angle-right{
    float:right;
}
.navbar .fa{
    margin-right: 8px;
}
.navbar a{
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
    font-size: 16px;
}

.navbar a::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -6%;
    width: 100%;
    height: 2px;
    background: #e4e4e4;
    border-radius: 5px;
    transform: translate(10px);
    opacity: 0;
    transition: .5s;
}
.navbar a:hover{
    background-color: hsl(0, 1%, 15%);
}

.navbar a:hover::after{
    transform: translate(0);
    opacity: 1;
}
.navbar li{
    float: left;
}
.sub-nav-2{
    display: none;
}

.hover-me:hover .sub-nav-2{
    position: absolute;
    display: block;
    margin-top: -40px;
    margin-left: 140px;
    background: rgba(0,100,0);
}

/* style for container*/
.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75%;
    height: 550%;
    background: url('recipe.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    margin-top: 20px;
}
/*.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 25px 12.5%;
    display: flex;
    background: transparent;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}*/

.search-bar{
    width: 200px;
    height: 45px;
    background: transparent;
    border: 2px solid #e4e4e4;
    border-radius: 6px;
    display:flex;
    align-items: center;
}

.search-bar input{
    width: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 16px;
    padding-left: 10px;
    color: #e4e4e4;
}

.search-bar input::placeholder{
    color: #e4e4e4;
}

.search-bar button{
    width: 40px;
    height: 100px;
    background: transparent;
    display: flex;
    border: none;
    outline: none;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.search-bar button i{
    font-size: 22px;
    color: #e4e4e4;
}

.container .content{
    width: 58%;
    top: 0;
    left: 0;
    position: absolute;
    height: 100%;
    padding: 80px;
    color: #e4e4e4;
    display: flex;
    justify-content: space-between;
    background: transparent;
    flex-direction: column;

}

.content .logo{
    font-size: 30px;
}

.text-sci h2{
    font-size: 40px;
    line-height: 1;
}

.text-sci p{
    font-size: 16px;
    margin: 20px 0;
}
.content h2 span{
    font-size: 25px;
}

.container .logreg-box{
    width: calc(100% - 58%);
    height: 100%;
    top: 0;
    right: 0;
    position: absolute;
}

.social-icons a i{
    font-size: 22px;
    color: #e4e4e4;
    margin-right: 10px;
    transition: .5s ease;
}

.social-icons a:hover i{
    transform: scale(1.2);
}

.logreg-box .form-box{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: transparent;
    backdrop-filter: blur(20px);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    color: #e4e4e4;
}

.form-box h2{
    font-size: 32px;
    text-align: center;
}

.form-box .input-box{
    width: 360px;
    position: relative;
    height: 50px;
    border-bottom: 2px solid #e4e4e4;
    margin: 30px 0;
}

.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 16px;
    color: #e4e4e4;
    font-weight: 500;
    padding-right: 28px;

}

.input-box label{
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(-50%);
    font-size: 16px;
    font-weight: 500;
    pointer-events: none;
    transition: .5s ease;
}

.input-box input:focus~label,
.input-box input:valid~label{
    top: -5px;
}
.input-box .icon{
    position: absolute;
    top: 13px;
    right: 0;
    font-size: 19px;
}
