.navbar-brand {
    font-weight: bold;
    color: #f8f9fa;
}

.navbar {
    background-color: #0a192f;
    font-weight: bold;
}

.nav-link {
    padding: 0.5rem 1rem;
    text-decoration: none;
    color: #fff;
}
